.container{
    background:blue;
    width: 70vw;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;

}
.parent{
    background: black;
    color:white;
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    animation: spin 2s infinite linear 3s;
  
}
.ball{
    background:radial-gradient(white, rgb(255, 251, 0));
    width: 60px;
    height: 60px;
    border-radius:50%;
    position: absolute;
    left:60px;
    top:60px;

    animation:circle 2s infinite linear 2s reverse;

}

@keyframes circle{
    0%{
        left: 60px;
        top: 60px;
    }
    25%{
        left: 50vw;
            top: 50px;}


    50%{left:50vw;
        top:350px
    }
    75%{
        left: 60px;
        top: 350px;

    }
    100%{
        left: 60px;
        top:60px;
    }
    
    }

    @keyframes spin{
        0%{transform: rotate(0deg);}

        100%{transform: rotate(360deg);}
        }
    

